* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center
}

.bottons{
  margin-top: 25em;
  width: 100vw;

  button {
    border: none;
    border-radius: 5px;
    padding: 1em 1.5em;
  }
  
  .bottons__add{
    color: aliceblue;
    background-color: rgb(0, 118, 214);

    transition: background-color .5s ease-out;
  }

  .bottons__add:hover{
    border: 1px solid black;
    color: #8a8787;
    background-color: rgba(144, 205, 255, 0.404);
  }

  .bottons__complete{
    background-color: chartreuse;
    transition: 
      background-color .3s ease-in,  
      color .6s ease-out,
      border-radius .5s ease-in-out
    ;
  }

  .bottons__complete:hover{
    color: whitesmoke;
    border-radius: 8px;
    background-color: #56ac00;
  }
}