@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

:root {
 --font-google: "Google Sans", sans-serif;
 --color-01: #1b3c53;
 --color-02: #234c6a;
 --color-03: #456882;
 --color-04: #d2c1b6;
 --color-05: #f1f1f1;
 --color-backgr1: #d9d9d9;

 font-size: 16px;
}

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body {
 width: 100dvw;
 height: 100dvh;
 background: center/100vh url("./../assets/43118.jpg");
 background-color: rgb(0, 0, 0, .6);
 background-blend-mode: overlay;
 text-align: center;
 padding: 5em 15%;
}

.title {
 margin-bottom: .5em;
 letter-spacing: 5px;
 font: 700 6em var(--font-google);
 text-shadow: 
    -5px -5px 0 rgb(255, 255, 255),  
     8px -5px 0 rgb(255, 255, 255),
    -5px  8px 0 rgb(255, 255, 255),
     8px  8px 0 rgb(255, 255, 255);
}

.order {
 background-color: var(--color-04);
 border-radius: 15px;
 padding: 2.5em;

 & .order__information-CampInput {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-items: center;
 }

 & .order__information-dobleInput {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
 }

 & .order__information-dobleInput .phone {
  flex-grow: 2;
 }

 & .order__information-dobleInput .date {
  width: calc(40% - 9em);
 }

 & label {
  font: 600 1.5em var(--font-google);
  padding-left: 0.25em;
  text-align: start;
 }

 & input {
  width: 25em max-content;
  padding: 5px 10px;
  font: 400 1.75em var(--font-google);
  border-radius: 10px;
 }

 & input::placeholder {
  font: italic 200 0.85em var(--font-google);
 }

 & .order__separator {
  margin-block: 1.5em;
 }

 & .order__buttonAdd {
  margin-left: calc(100% - 16em);
  border-radius: 15px;
  padding: 1em 1.5em;
  font: 700 1em var(--font-google);
  background-color: var(--color-03);
  color: var(--color-05);
 }
}

.order__itensTables {
  margin-inline: auto;
 margin-block: 2em;
 border: 2px solid #000;
 border-radius: 18px;
 border-collapse: collapse;

 & td,
 & th {
  border: 1px solid #000;
  padding: 18px 4em;
 }

 & th{
  background-color: #d6d6d6;
  font: 300 1em var(--font-google)
 }

 & th:nth-child(3){
  padding-inline: 6em;
 }

 & td[colspan="5"]{
  font: 600 2em var(--font-google);
  background-color: #a1a1a1;
  color: var(--color-05);

  margin-bottom: 1em;
 }

 & tfoot>tr>th{
  border-right: none;
  padding-right: .5em;
  font: 700 1.5em var(--font-google);
  text-align: right;
 }

 & tfoot>tr>td{
  padding-inline: 1em;
  font: 500 1.25em var(--font-google);
  background-color:var(--color-backgr1);
  border-left: none;
  text-align: right;
 }
}

dialog{
  margin: auto;
  padding: 1em;
}

.logAddrequest{
  width: calc(50vw - 10rem);
  background-color: var(--color-backgr1);
  
  & .logAddrequest__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;

    & .logAddrequest__header-title{
      font: 600 1.5em var(--font-google);
    }
  }

  & .logAddrequest__separator {
    margin-block: 1em;
  }

  & .logAddrequest__itemRequest{
    display: flex;
    flex-direction: column;
    gap: 2rem;

  }

  & .logAddrequest__itemRequest-camp{
    display: grid;
    grid-template-columns: 10em 1fr;
    gap: 1em;

    & label{
      justify-self: end;
      font: 500 1.5em var(--font-google);
    }
    
    & input{
      padding: 5px 5px;
      border: none;
      border-radius: 5px;
      width: 100%;
      font: 400 1.25em var(--font-google);
    }

    & input::placeholder{
      font: italic 300 1em var(--font-google);
    }
  }

  & .logAddrequest__itemRequest-quantilyPrice{
    margin-left: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .quantilyPrice__quantily{
      display: flex;
      align-items: center;
      gap: 5px;
    }

    & .quantilyPrice__quantily label {
      font: 500 1.25em var(--font-google);
    }

    & .quantily{
      display: flex;
      gap: -5px;
    }

    & .quantily button{
      padding: 5px;
      border: none;
      background-color: var(--color-03);
      color: var(--color-05);
      font: 700 1.5em var(--font-google);
    }

    & .quantily button:first-child{
      border-radius: 10px 0 0 10px;
    }

    & .quantily button:last-child{
      border-radius: 0 10px 10px 0;
    }

    & .quantily input{
      width: 15%;
      font: 400 1em var(--font-google);
      text-align: center;
    }

    & .quantilyPrice__price{
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    & .quantilyPrice__price label {
      font: 600 1em var(--font-google);
    }

    & .quantilyPrice__price input {
      width: calc(100% - 9em);
      border-radius: 5px;
      border: none;
      /* flex-grow: 2; */
      font: 500 1.25em var(--font-google);
    }
  }
  
  & .logAddrequest__itemRequest-saparaitor {
    border: 1px solid rgba(0, 0, 0, .6);
    border-radius: 25px;
    margin-left: calc(100% - 25rem);
  }
  
  & .logAddrequest__itemRequest-outputResult{
    display: flex;
    justify-content: flex-end;
    align-items: start;
    gap: 15px;

    & .outputResult__text {
      font: italic 800 2em var(--font-google);
    }

    & #result-request {
      font: 500 4em var(--font-google);
    }
  }

  & .logAddRequest__itemRequest-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 1em;

    & button {
      padding: .5em 1.5em;
      border: none;
      border-radius: 5px;
      font: italic 400 1.5em var(--font-google);
    }

    & #button-add{
      background-color: var(--color-03);
      color: #fff;
    }
    & #button-cancel{
      background-color: #FF2D55;
      color: #fff;
    }
  }

}
