@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

/* Importes des Components CSS */
@import url("variableProjects.css");
@import url("./components/forms-request.css");
@import url("./components/table-request.css");
@import url("./components/dialog-addRequest.css");

:root {
 --font-google: "Google Sans", sans-serif;
 
 font-size: 16px;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: content-box;
}

body {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100dvh;
 background: center/50vw url("../assets/43118.jpg");
 background-color: rgba(0, 0, 0, 0.6);
 background-blend-mode: overlay;
}

dialog {
 margin: auto;
 padding: 1em 2em;
 border: none;
 border-radius: 25px;
}

dialog:open {
  animation: 0.6s ease-out Open-Modal;
}

dialog.close-Dialog{
  animation: Close-Modal 0.8s cubic-bezier(0.36, 0, 0.66, -0.56);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

@keyframes Open-Modal {  
  0% {
    display: none;
    transform: translatey(-2em);
    opacity: 0;
  }

  100% {
    transform: translatey(0);
    display: block;
    opacity: 1;
  }
}

@keyframes Close-Modal {
  0% {
    display: block;
    transform: translateY(0);
    opacity: 1;
  }

  35% {
    transform: translateY(1.4em);
  }

  100% {
    display: none;
    transform: translateY(-2em);
    opacity: 0;
  }
}
