@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

:root {
 --font-google: "Google Sans", sans-serif;
 --color-01: #1b3c53;
 --color-02: #234c6a;
 --color-03: #456882;
 --color-04: #d2c1b6;
 --color-05: #f1f1f1;
 --color-backgr1: #d9d9d9;
 --color-backgr2: #a1a1a1;

 font-size: 16px;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: content-box;
}

body {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100dvh;
 background: center/50vw url("../assets/43118.jpg");
 background-color: rgba(0, 0, 0, 0.6);
 background-blend-mode: overlay;
}

.title {
 font: 700 4em var(--font-google);
}

.containerRequest {
 width: 60vw;
 padding: 4em 2em;
 border-radius: 15px;
 box-shadow: 5px -5px rgba(0, 0, 0, 0.4);
 background-color: var(--color-04);

 & .containerRequest__separator {
  margin-block: 1.5em 0.5em;
 }

 & .containerRequest__buttonAddRequest {
  padding: 1em 1.75em;
  border: none;
  border-radius: 0.5em;
  margin-left: calc(90% - 8rem);
  background-color: var(--color-02);
  color: var(--color-05);
  font: 700 1em var(--font-google);
  text-transform: uppercase;
 }
}

.orderRequest__Camp {
 display: flex;
 flex-direction: column;

 & label {
  margin-left: 10px;
  font: 700 1.25em var(--font-google);
  text-transform: uppercase;
 }

 & input {
  padding: 8px 5px 3px 5px;
  border-radius: 10px;
  font: 400 1.5em var(--font-google);
 }

 & input::placeholder {
  font: italic 300 1em var(--font-google);
  letter-spacing: 2px;
 }
}

.orderRequest__dobleCamp {
 margin-top: 1.5em;
 margin-inline: 0.5em;
 display: flex;
 gap: 2em;

 & .orderRequest__Camp:first-child > input {
  width: 10em;
 }

 & .orderRequest__Camp:last-child {
  flex-grow: 2;
 }
}

.containerRequest__table {
 margin-top: 2em;
 margin-inline: auto;
 border-collapse: collapse;

 & th,
 & td {
  padding: 0.5em 1.5em;
  border: 1px solid #000;
 }

 & th {
  background-color: var(--color-backgr1);
  font: 200 1.5em var(--font-google);
 }

 & td {
  border: 1px solid #000;
 }

 & td[colspan="5"] {
  background-color: var(--color-backgr2);
  font: 700 2em var(--font-google);
  color: var(--color-05);
  text-align: center;
 }

 & tfoot {
  background-color: var(--color-backgr1);
 }

 & tfoot > tr > td:first-child {
  padding-right: 0.5em;
  font: 600 2em var(--font-google);
  text-align: end;
  text-transform: uppercase;
 }

 & tfoot > tr > td:last-child {
  font: 500 1.5em var(--font-google);
  padding-left: 0.5em;
 }
}

dialog {
 margin: auto;
 padding: 1em 2em;
}

#add-request {
 background-color: var(--color-backgr1);
 max-width: 80vw;
 padding: 1.5em 1em;

 & .headerModal {
  padding-inline: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25vw;

  & h3 {
   font: 700 1.7em var(--font-google);
  }
 }

 & .separator {
  margin-block: 1em;
 }
}

.addRequest__form {
 display: flex;
 flex-direction: column;
 gap: 1.75em;

 & .form__camp {
  display: grid;
  grid-template-columns: 10em 1fr;
  align-items: center;
  gap: 1em;

  & label {
   text-align: end;
   font: 600 1.5em var(--font-google);
  }

  & input {
   width: calc(100% - 2em);
   padding: 0.25em 0.5em;
   border: none;
   border-radius: 12px;
   font: 500 1.5em var(--font-google);
  }

  & input::placeholder {
   font: italic 400 1em var(--font-google);
  }
 }

 & .form__dublePropert {
  display: flex;
  justify-content: space-between;
  gap: 1em;

  & .form__dublePropert-quantily {
    display: flex;
    align-items: center;
    gap: .5em;
  }

  & .form__dublePropert-quantily > label {
   font: 600 1.5em var(--font-google);
  }

  & .form__dublePropert-quantily > .quantity-produt__container {
   display: flex;
  }
  
  & .form__dublePropert-quantily > .quantity-produt__container button {
   padding: 1em 0.75em;
   border: none;
   background-color: var(--color-02);
    color: var(--color-05);

   &:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
   }

    &:last-child {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }

  & .form__dublePropert-quantily > .quantity-produt__container input {
   width: 5rem;
   padding: 0.25em 0.5em;
   border: none;
   font: 500 1.5em var(--font-google);
   text-align: center;
   appearance: textfield; 
  }

  & .form__dublePropert-quantily > input::placeholder {
   font: italic 400 1em var(--font-google);
  }
 }
}
